/*-- scss:defaults --*/

$callout-color-note: #009ee0;
$callout-color-tip: #009ee0;
$callout-color-caution: #009ee0;
$callout-color-warning: #009ee0;
$callout-color-important: #009ee0;


/*-- scss:rules --*/
